@font-face {
    font-family: 'Blonde'; /*a name to be used later*/
    src: url('fonts/Blonde.otf'); /*URL to font*/
}
body {
	background-color: black;
	font-family: 'Blonde';
	color: white;
}
ul {
	position: sticky;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
li {
  float: right;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover {
  background-color: #8c8a82;
}

#mainInfo{
	position: absolute;
	font-size: 10px;
	z-index: 1;
	top: 63%;
  left: 50%;
  transform: translate(-50%,-50%);
}
#mainInfo2{
	position: absolute;
	font-size: 9px;
	z-index: 1;
	top: 67%;
  left: 50%;
  transform: translate(-50%,-50%);
}
#mainInfo3{
	position: absolute;
	font-size: 9px;
	z-index: 1;
	top: 69%;
  left: 50%;
  transform: translate(-50%,-50%);
}
#mainHeader {
  position: absolute;
  z-index: 1;
  font-size: 80px;
  text-decoration: underline;
  text-decoration-color: white;
  text-decoration-style: solid;
  /*Center Header*/
  top: 49%;
  left: 50%;
  transform: translate(-50%,-50%);
}
#scrollBtn {
	cursor: pointer;
	position: absolute;
	font-size: 10px;
	z-index: 1;
	top: 89%;
  left: 50%;
  transform: translate(-50%,-50%);
}
#bottomDiv {
	text-align: center;
	padding-top: 10px;
	height: 100vh;
	width: 100%;
}
.vidlist {
	margin: 20px;
}
.wrapper video {
  /* Make video to at least 100% wide and tall */
  min-width: 100%; 
  min-height: 100%; 

  /* Setting width & height to auto prevents the browser from stretching or squishing the video */
  width: auto;
  height: auto;

  /* Center the video */
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.wrapper {
	position: relative;
	height: 100vh;
	width: 100%;
	margin-bottom: 200px;
}
.scroll-down {
  opacity: 1;
  outline: none;
  -webkit-transition: all .5s ease-in 3s;
  transition: all .5s ease-in 3s;
}

.scroll-down {
  position: absolute;
  bottom: 30px;
  left: 50%;
  margin-left: -16px;
  display: block;
  width: 32px;
  height: 32px;
  border: 2px solid #FFF;
  background-size: 14px auto;
  border-radius: 50%;
  z-index: 2;
  -webkit-animation: bounce 3s infinite 2s;
  animation: bounce 3s infinite 2s;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
  transform: scale(1)
}

.scroll-down:before {
    position: absolute;
    top: calc(50% - 8px);
    left: calc(50% - 6px);
    transform: rotate(-45deg);
    display: block;
    width: 12px;
    height: 12px;
    content: "";
    border: 2px solid white;
    border-width: 0px 0 2px 2px;
}

@keyframes bounce {
  0%,
  100%,
  20%,
  50%,
  80% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  60% {
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
  }
}